AntSystem-WithPlay/*
Daniel/*
GSC/*
img/*
MSRC/*
network-datasets/*
other-dataset/*
psopt/*
res/*
ssl-book/*
uci-datasets/*
UCR_TS_Archive_2015/*
dataset-interactive-algorithms/*
gsc-1.2/*

tabs_strwalk36-PATOLINO\.mat
*.asv
*.log
